<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body style="text-align: center;background-color: burlywood;";

    <nav style="background-color: blueviolet;">
        <a href="./Index.html" > Home</a>
        <a  href="./Contact.html"> contact</a>
        <a href="./Home.html" > services</a>
    </nav>
    <h1> this is a home page </h1>
    <div>
        <img src="./air force.jpg" alt="photo" width="360">
        <h1 style="color:rgb(79, 61, 95)"> air force </h1>
        <h1 style="color:rgb(79, 61, 95)">pointure:38</h1>
        <img src="./air jordan.jpg" alt="photo" width="360">
        <h1 style="color:rgb(79, 61, 95)"> air jordan </h1>
        <h1 style="color:rgb(79, 61, 95)">pointure:38</h1>
    </div>
</body>
</html>